<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>List of Owner</title>
    </head>
    <body>
        //The comment below works only for intellij, to help it know that it's of type variable owner.
        <!--/*@thymesVar id="owner" type=""com.pet.petClinic.model.Owner*/-->
        <h1 th:text="'List of Owners'"I>List of Owners</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">John</td>
                <td th:text="${owner.lastName}">Doe</td>
            </tr>
            </tbody>
        </table>
    </body>
</html>